<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/head :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${about}" class="alert alert-info mt-2">
        <p th:text="${el.full_about}"/>
        <a th:href="'/about/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <a th:href="'/about/' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>