<div th:fragment="header">
    <div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>
            <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить статью</a></li>
            <li class="nav-item"><a href="/task" class="nav-link">Большое задание</a></li>
        </ul>
    </header>
    </div>
</div>>